.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.register-form {
  border: 1px solid grey;
  border-radius: 20px;
  padding: 30px;
  width: 40%;
  -webkit-box-shadow: -5px 3px 27px -4px rgba(3, 3, 3, 1);
  -moz-box-shadow: -5px 3px 27px -4px rgba(3, 3, 3, 1);
  box-shadow: -5px 3px 27px -4px rgba(3, 3, 3, 1);
}
.toggle-icon {
  color: blue;
  text-transform: capitalize;
  text-align: end;
  margin-right: 10px;
}
